.hero {
  $hero-background: saturate($secondary-accent-color, 10);
  $hero-color: white;

  background-color: $hero-background;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 4em;


  .hero-inner {
    @include outer-container;
    @include clearfix;
    padding: 3em;
    margin: auto;
    text-align: center;
    color: $hero-color;

    button {
      @include button(simple, $base-accent-color);
      font-size: $base-font-size;
      outline: none;
    }

    .hero-copy {
      text-align: center;

      h1 {
        font-size: 1.4em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }


    }
  }
}